body{
  background: #F9F9F9;
}

.search-form{
  background-color: #fff;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border: 1px solid #D4D4D4;
}

.bg{
  padding: 15px;
}