@import 'https://fonts.googleapis.com/css?family=Ubuntu';
@import 'https://fonts.googleapis.com/css?family=Philosopher';

body{
  font-family: 'Ubuntu', sans-serif;
  color: #444;
}

.navbar-app{
  background-color: #fff;
  border: none;
}

a.navbar-brand{
  font-family: 'Philosopher', sans-serif;
  color: #055FA2;
  img{
    float: left;
    margin-right: 5px;
    width: 17px;
    margin-top: 2px;
  }
}

#app{
  margin-top: 40px;
  .website{
    margin-top: 40px;
  }
}

.navbar-right{
  a{
    color: #777;
  }
}